:root {
   --color-lightest: rgb(255, 255, 255);
   --color-lighter: rgb(23, 40, 55, 0.35);
   --color-dark: #555;
   --color-darkest: rgb(23, 40, 55);

   --color-background: rgb(23, 40, 58);
   --color-pop: rgb(99, 181, 255);
}
