{% extends "templates/partials/base.html" %}

{% block content %}

  {% set item = cms.homepage %}

  <main class="page">
    <section class="hero">
      {% if item.hero_image %}
        <div class="hero__image" style="background-image: url('{{ item.hero_image|imageSize(1200) }}');" ></div>
      {% endif %}
      {% if item.hero_mobile_background_loop_video && item.hero_mobile_background_loop_video.original_url %}
        {% include 'templates/partials/background-video.swig' with {
          video: item.hero_mobile_background_loop_video,
          classString: 'hero__background-video hero__background-video--mobile',
        } %}
      {% endif %}
      {% if item.hero_desktop_background_loop_video && item.hero_desktop_background_loop_video.original_url %}
        {% include 'templates/partials/background-video.swig' with {
          video: item.hero_desktop_background_loop_video,
          classString: 'hero__background-video hero__background-video--desktop',
        } %}
      {% endif %}
      
      <div class="hero__footer">
        <div class="hero__footer-container">
          <div class="hero__footer-hat-left"></div>
          <div class="hero__footer-hat-center"></div>
          <div class="hero__footer-hat-right"></div>
          <div class="hero__footer-body"></div>
          {% if item.hero_video && item.hero_video.original_url %}
            <div class="hero__footer-button">
              <a href="{{ item.hero_video.original_url }}" data-lity class="hero__footer-button-link">
                <p class="hero__footer-button-text">Play Video</p>
              </a>
            </div>
          {% endif %}
          <div class="hero__text-container">
            <h1 class="hero__text">Rosanne<br />Somerson</h1>
          </div>
        </div>
      </div>
    </section>

    {% if item.intro_headline || item.intro_description %}
    <section class="intro" id="intro">
      <div class="intro__timeline-marker"></div>
      {% if item.intro_headline %}
      <div class="intro__headline">
        {{ item.intro_headline|safe }}
      </div>
      {% endif %}
      {% if item.intro_description %}
      <div class="intro__description">
        {{ item.intro_description|safe }}
      </div>
      {% endif %}
    </section>
    {% endif %}

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__1970__title,
        cards: item.timeline__1970,
      } only %}
    </section>

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__1980__title,
        cards: item.timeline__1980,
      } only %}
    </section>

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__1990__title,
        cards: item.timeline__1990,
      } only %}
    </section>

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__2000__title,
        cards: item.timeline__2000,
      } only %}
    </section>

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__2010__title,
        cards: item.timeline__2010,
      } only %}
    </section>

    <section class="timeline">
      {% include 'templates/partials/section-timeline.swig' with {
        title: item.timeline__2020__title,
        cards: item.timeline__2020,
      } only %}
    </section>

    <section class="symbol">
      <svg class="symbol__end" xmlns="http://www.w3.org/2000/svg">
        <path class="symbol__end-path symbol__end-path--left" d="M1 1C19 14.7807 55 58.6953 55 124.108C55 189.52 19 231.291 1 244" />
        <path class="symbol__end-path symbol__end-path--right" d="M55 244C37 230.219 0.999989 186.305 0.999993 120.892C0.999997 55.4798 37 13.7089 55 0.999993" />
      </svg>

    </section>
  </main>
{% endblock %}
